<div class="flex flex-wrap w-screen h-screen p-7">
    <!-- button types -->
    <button mat-button routerLink="button-toggle" class="mx-2">Button Toggle</button>
    <button mat-raised-button routerLink="icon" class="mx-2">Mat Icon</button>
    <button mat-flat-button routerLink="badge" class="mx-2">Badge</button>
    <button mat-stroked-button class="mx-2">Button</button>

    <button mat-icon-button class="mx-2">I</button>
    <button mat-fab class="mx-2">Fab</button>
    <button mat-fab extended class="mx-2">Fab long</button>
    <button mat-mini-fab class="mx-2">MFab</button>

    <!-- button colors -->
    <button mat-raised-button color="primary" class="mx-2">Primary</button>
    <button mat-flat-button color="accent" class="mx-2">Accent</button>
    <button mat-stroked-button color="warn" class="mx-2">Warn</button>
</div>